.row-container {
    margin-left: 10px;
    color: white;
}
.row-cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row-cards::-webkit-scrollbar{
    display: none;
    
}
.movie-card.movie-card-large{
    object-fit: contain;
    width: 1200px;
    height: 300px;
    margin-bottom: 10px;
    transition: transform 450ms;
    max-width: 120%;

}
.movie-card{
    object-fit: contain;
    width: 160px;
    height: 290px;
    margin-bottom: 10px;
    transition: transform 450ms;

}
.movie-card:hover {
    transform: scale(1.08);
 
}